{% extends 'base.html.twig' %}

{% block title %}List - {{ list.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ list.name }}</h1>

        {% if nextEventData %}
            {%- include '@App/list/event_info.html.twig' with { nextEventData: nextEventData } only -%}
        {% endif %}

        {%- include '@App/default/flash_messages.html.twig' -%}

        {% if list.categories is not empty %}
            {% set categories = list.categories %}
            <div class="list-group">
            {% for category in categories %}
                {% set giftsCount = category.gifts|length %}
                <a href="{{ path('category_show', { id: category.id }) }}" class="list-group-item">
                    {% if giftsCount > 0 %}<span class="badge">{{ giftsCount }}</span>{% endif %}
                    {{ category.name }}
                </a>
            {% endfor %}
            </div>
        {% else %}
            <p><em>No category found</em></p>
        {% endif %}
        <div class="hidden-xs">
        {% include '@App/list/show_actions.html.twig' with {list: list} only %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <nav class="navbar navbar-default navbar-fixed-bottom visible-xs-block">
        {% include '@App/list/show_actions_footer.html.twig' with {list: list} only %}
    </nav>
{% endblock %}
