{% form_theme markBoughtForm 'bootstrap_5_layout.html.twig' %}

<div id="modal-confirm-delete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(deleteForm) }}
            <div class="modal-header">
                <h5 class="modal-title">{{ 'gift.modal.confirmation.text'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'gift.modal.close.text'|trans }}"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{{ 'gift.modal.delete_confirmation.text'|trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">{{ 'gift.modal.close.text'|trans }}</button>
                <button type="submit" class="btn btn-primary">{{ 'gift.modal.confirm.text'|trans }}</button>
            </div>
            {{ form_end(deleteForm) }}
        </div>
    </div>
</div>

<div id="modal-confirm-mark-received" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(markReceivedForm) }}
            <div class="modal-header">
                <h5 class="modal-title">{{ 'gift.modal.confirmation.text'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'gift.modal.close.text'|trans }}"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{{ 'gift.modal.mark_received.text'|trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">{{ 'gift.modal.close.text'|trans }}</button>
                <button type="submit" class="btn btn-primary">{{ 'gift.modal.confirm.text'|trans }}</button>
            </div>
            {{ form_end(markReceivedForm) }}
        </div>
    </div>
</div>

<div id="modal-confirm-mark-bought" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(markBoughtForm) }}
            <div class="modal-header">
                <h5 class="modal-title">{{ 'gift.modal.confirmation.text'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'gift.modal.close.text'|trans }}"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{{ 'gift.modal.mark_bought.text'|trans }}</p>
                {{ form_row(markBoughtForm.purchaseComment) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">{{ 'gift.modal.close.text'|trans }}</button>
                <button type="submit" class="btn btn-primary">{{ 'gift.modal.confirm.text'|trans }}</button>
            </div>
            {{ form_end(markBoughtForm) }}
        </div>
    </div>
</div>
