{% extends 'base.html.twig' %}

{% block title %}{% if isSurprise %}{{ 'gift.title.create_surprise'|trans }}{% else %}{{ 'gift.title.create'|trans }}{% endif %}{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('list_show', { id: category.list.id } ) }}">{{ category.list.name }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('category_show', { id: category.id } ) }}">{{ category.name }}</a></li>
            <li  class="breadcrumb-item active">{% if isSurprise %}{{ 'gift.breadcrumb.create_surprise'|trans }}{% else %}{{ 'gift.breadcrumb.create'|trans }}{% endif %}</li>
        </ol>

        <h1>{% if isSurprise %}{{ 'gift.title.create_surprise'|trans }}{% else %}{{ 'gift.title.create'|trans }}{% endif %}</h1>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.image.url) }}
        {{ form_row(form.moreDetail) }}
        {{ form_row(form.moreDetailUrl) }}
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
