{% extends "@FOSUser/layout.html.twig" %}

{% block title %}{{ 'user.change_password.title'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('user_home') }}">{{ 'global.navbar.options'|trans }}</a></li>
            <li class="active">{{ 'user.change_password.title'|trans }}</li>
        </ol>

        {% block fos_user_content %}
            <h1>{{ 'user.change_password.title'|trans }}</h1>
            {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
