{% extends 'base.html.twig' %}

{% block title %}{{ 'category.title.create'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('list_show', { id: list.id } ) }}">{{ list.name }}</a></li>
            <li class="active">{{ 'category.title.create'|trans }}</li>
        </ol>

        <h1>{{ 'category.title.create'|trans }}</h1>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
