{% extends 'base.html.twig' %}

{% block title %}Edit category{% endblock %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="container">
        {% set category = form.vars.value %}
        <ol class="breadcrumb">
            <li><a href="{{ path('list_show', { id: category.list.id } ) }}">{{ category.list.name }}</a></li>
            <li class="active">{{ category.name }}</li>
        </ol>

        <h1>Edit category</h1>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
