{% extends 'base.html.twig' %}

{% block title %}Category - {{ category.name }}{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('list_show', { id: category.list.id } ) }}">{{ category.list.name }}</a></li>
            <li class="active">{{ category.name }}</li>
        </ol>
        <h1>{{ category.name }}</h1>

        {%- include '@App/default/flash_messages.html.twig' -%}

        {% if category.gifts is not empty %}
            <div class="list-group">
            {% for gift in category.gifts %}
                <a href="{{ path('gift_show', { id: gift.id }) }}" class="list-group-item">
                    {{ gift.name }}
                </a>
            {% endfor %}
            </div>
        {% else %}
            <p><em>No gifts found</em></p>
        {% endif %}
        <a href="{{ path('category_edit', { id: category.id }) }}" class="btn btn-primary">Edit</a>
        <button class="btn btn-primary js-cat-delete">Delete</button>
        <a href="{{ path('gift_create', { catId: category.id }) }}" class="btn btn-primary">Create a gift</a>
        <a href="{{ path('gift_create', { catId: category.id, surprise: true }) }}" class="btn btn-primary">Create a surprise gift</a>
    </div>

    {% include '@App/category/confirm_modals.html.twig' with {deleteForm: deleteForm} only %}
{% endblock %}

{% block javascripts_footer %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.js-cat-delete').click(function () {
                $('#modal-confirm-delete').modal();
            });
        });
    </script>
{% endblock %}
