{% if is_multi_granted(['ONWER', 'EDIT'], category.list) %}
    <a href="{{ path('category_edit', { id: category.id }) }}" class="btn btn-primary">
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>&nbsp;{{ 'category.action.edit'|trans }}
    </a>
    <button class="btn btn-primary js-cat-delete">
        <i class="fas fa-trash" aria-hidden="true"></i>&nbsp;{{ 'category.action.delete'|trans }}
    </button>
    <a href="{{ path('gift_create', { catId: category.id }) }}" class="btn btn-primary">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        <i class="fas fa-gift" aria-hidden="true"></i>&nbsp;
        {{ 'category.action.create_gift'|trans }}
    </a>
{% endif %}
{% if is_granted('SURPRISE_ADD', category.list) %}
    <a href="{{ path('gift_create', { catId: category.id, surprise: true }) }}" class="btn btn-primary">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        <i class="fas fa-question" aria-hidden="true"></i>
        <i class="fas fa-gift" aria-hidden="true"></i>&nbsp;
        {{ 'category.action.create_surprise_gift'|trans }}
    </a>
{% endif %}
