<div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="{{ 'category.actions.text'|trans }}">
{% if is_multi_granted(['ONWER', 'EDIT'], category.list) %}
    <a href="{{ path('category_edit', { id: category.id }) }}" class="btn btn-primary" title="{{ 'category.action.edit'|trans }}" aria-label="{{ 'category.action.edit'|trans }}">
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
    </a>
    <div class="btn-group btn-group-lg" role="group" aria-hidden="true">
        <button class="btn btn-primary js-cat-delete" title="{{ 'category.action.delete'|trans }}" aria-label="{{ 'category.action.delete'|trans }}">
            <i class="fas fa-trash" aria-hidden="true"></i>
        </button>
    </div>
    <a href="{{ path('gift_create', { catId: category.id }) }}" class="btn btn-primary" title="{{ 'category.action.create_gift'|trans }}" aria-label="{{ 'category.action.create_gift'|trans }}">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        <i class="fas fa-gift" aria-hidden="true"></i>
    </a>
{% endif %}
{% if is_granted('SURPRISE_ADD', category.list) %}
    <a href="{{ path('gift_create', { catId: category.id, surprise: true }) }}" class="btn btn-primary" title="{{ 'category.action.create_surprise_gift'|trans }}" aria-label="{{ 'category.action.create_surprise_gift'|trans }}">
        <i class="fas fa-plus-circle" aria-hidden="true"></i>
        <i class="fas fa-question" aria-hidden="true"></i>
        <i class="fas fa-gift" aria-hidden="true"></i>
    </a>
{% endif %}
</div>
