{% extends 'base.html.twig' %}

{% block title %}{{ 'category.title'|trans({ '%categoryName%': category.name }) }}{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('list_show', { id: category.list.id } ) }}">{{ category.list.name }}</a></li>
            <li class="breadcrumb-item active">{{ category.name }}</li>
        </ol>
        <h1>{{ category.name }}</h1>

        {%- include '@App/default/flash_messages.html.twig' -%}

        {% if category.gifts is not empty %}
            <div class="list-group">
            {% for gift in category.gifts %}
                <a href="{{ path('gift_show', { id: gift.id }) }}" class="list-group-item list-group-item-action">
                    {{ gift.name }} <span class="badge"><i class="fas fa-info-circle fa-lg"></i></span>
                </a>
            {% endfor %}
            </div>
        {% else %}
            <p><em>{% if is_multi_granted(['OWNER', 'EDIT'], category.list) %}{{ 'category.no_gift.logged_can_edit'|trans|raw }}{% else %}{{ 'category.no_gift.guest'|trans }}{% endif %}</em></p>
        {% endif %}
            <div class="d-none d-sm-block">
            {% include '@App/category/show_actions.html.twig' with {category: category} only %}
            </div>
        </div>

    {% include '@App/category/confirm_modals.html.twig' with {deleteForm: deleteForm} only %}
{% endblock %}

{% block footer %}
{# Mobile-only-visible actions #}
<nav class="navbar fixed-bottom navbar-light d-sm-none">
    {% include '@App/category/show_actions_footer.html.twig' with {category: category} only %}
</nav>
{% endblock %}

{% block javascripts_footer %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.js-cat-delete').click(function () {
                $('#modal-confirm-delete').modal();
            });
        });
    </script>
{% endblock %}
