<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site_name }} - {% block title %}Wishlist management{% endblock %}</title>
        <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/fontawesome-all.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        <script src="{{ asset('bundles/app/js/jquery-3.3.1.min.js') }}"></script>
        {% block javascripts_head %}{% endblock %}
    </head>
    <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('homepage') }}">{{ site_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% block navbar %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'global.navbar.lists'|trans }} <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{ render(controller('AppBundle:List:index')) }}
                        </div>
                    </li>
                    {% block navbar_extra %}{% endblock %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('user_home') }}">{{ 'global.navbar.options'|trans }}</a></li>
                    {% endif %}
                {% endblock %}
            </ul>
            <span class="navbar-text">
                {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {{ 'global.navbar.text.logged'|trans({ '%username%': app.user.username, '%logoutUrl%': path('fos_user_security_logout') })|raw }}
                    {% if is_granted('ROLE_ADMIN') %}&nbsp;<a href="{{ path('admin_lists') }}">{{  'global.navbar.admin_access'|trans }}</a>{% endif %}
                {% else %}
                    <i class="far fa-user" aria-hidden="true"></i>&nbsp;{{ 'global.navbar.text.guest'|trans({ '%loginUrl%': path('fos_user_security_login') })|raw }}
                {% endif %}
            </span>
        </div>
    </nav>
        {% block content %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        {% endblock %}
        {% block footer %}
        <nav class="navbar fixed-bottom navbar-light d-sm-none">
            <p class="text-center">
                <small class="text-muted ">Powered by BestWishes v{{ constant('\\AppBundle\\AppBundle::VERSION') }}</small>
            </p>
        </nav>
        {% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        {% block javascripts_footer %}{% endblock %}
    </body>
</html>
