{% extends 'base.html.twig' %}

{% block title %}{{ 'category.title'|trans({ '%categoryName%': category.name }) }}{% endblock %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('list_show', { id: category.list.id } ) }}">{{ category.list.name }}</a></li>
                <li class="breadcrumb-item active">{{ category.name }}</li>
            </ol>
        </nav>
        <h1>{{ category.name }}</h1>

        {%- include 'default/flash_messages.html.twig' -%}

        {% if category.gifts is not empty %}
            <div class="list-group">
            {% for gift in category.gifts %}
                <a href="{{ path('gift_show', { id: gift.id }) }}" class="list-group-item list-group-item-action d-flex">
                    <div>
                        {{ gift.name }}
                    </div>
                    {% if (gift.bought or gift.surprise) and not is_granted('OWNER', gift.category.list) and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <div class="ml-auto">
                            {% if gift.surprise %}<i class="fas fa-question fa-lg" style="color: #FA2864"  title="{{ 'gift.surprise.test'|trans }}"></i>{% endif %}
                            {% if gift.bought %}<i class="fas fa-gift fa-lg" style="color: #FA2864" title="{{ 'gift.bought_by.text'|trans({ '%purchaseDate%':gift.purchaseDate|date('d/m/Y') , '%buyerName%': gift.buyer.name})|raw }}"></i>{% endif %}
                        </div>
                    {% endif %}
                </a>
            {% endfor %}
            </div>
        {% else %}
            <p><em>{% if is_multi_granted(['OWNER', 'EDIT'], category.list) %}{{ 'category.no_gift.logged_can_edit'|trans|raw }}{% else %}{{ 'category.no_gift.guest'|trans }}{% endif %}</em></p>
        {% endif %}
            <div class="d-none d-sm-block mt-2">
            {% include 'category/show_actions.html.twig' with {category: category} only %}
            </div>
        </div>

    {% include 'category/confirm_modals.html.twig' with {deleteForm: deleteForm} only %}
{% endblock %}

{% block footer %}
{# Mobile-only-visible actions #}
<nav class="navbar fixed-bottom navbar-light d-sm-none">
    {% include 'category/show_actions_footer.html.twig' with {category: category} only %}
</nav>
{% endblock %}

