{% extends 'base_admin.html.twig' %}

{% block title %}Lists{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">(admin)</a></li>
            <li  class="breadcrumb-item active">Lists</li>
        </ol>
        {%- include 'default/flash_messages.html.twig' -%}

        <h1>Lists management</h1>

        {% if lists is not empty %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>List name</th>
                <th>Birthdate</th>
                <th>Owner</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for list in lists %}
                <tr>
                    <td>{{ list.name }}</td>
                    <td>{{ list.birthdate|date('Y-m-d') }}</td>
                    <td>{{ list.owner }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{ path('admin_list_edit', { 'id': list.id }) }}" title="Edit list"
                           aria-label="Edit list">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" href="{{ path('admin_lists_rights') }}" title="Edit rights"
                           aria-label="Edit rights">
                            <i class="fas fa-user" aria-hidden="true"></i>
                        </a>
                        <button type="button" class="btn btn-primary btn-sm js-list-delete" data-listid="{{ list.id }}" title="Delete list"
                           aria-label="Delete list">
                            <i class="fas fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p><i>There are no lists available, you should create one</i></p>
        {% endif %}
        <p>
            <a class="btn btn-primary" href="{{ path('admin_list_create') }}" title="New list">New list</a>
        </p>

        {% include 'admin/list_confirm_modals.html.twig' %}

        <script type="text/javascript">
            var deleteListUrl = '{{ path('admin_list_delete', { id: 99999999999999 }) }}';
            $(document).ready(function () {
                $('.js-list-delete').click(function () {
                    var currentData = $(this).data();
                    $('#formListDelete').attr('action', deleteListUrl.replace('99999999999999', currentData.listid));
                    $('#deleteListId').val(currentData.listid);
                    $('#modal-confirm-list-delete').modal();
                });
            });
        </script>
    </div>
{% endblock %}
