{% macro permissionLine(availablePermissions, list, user ) %}
    {% for permission in availablePermissions %}
        <td>
            <span {% if permission != 'OWNER' %}style="cursor: pointer"{% endif %} class="js-permission-check {% if permission == 'OWNER' %}disabled {% endif %}fas {% if is_user_granted(permission, list, user) %}text-success fa-check{% else %}text-danger fa-times{% endif %}" data-list="{{ list.id }}" data-role="{{ permission }}" data-user="{{ user.id }}">&nbsp;</span>
        </td>
    {% endfor %}
{% endmacro %}

{% import _self as utils %}

<h3>{{ list.name }}</h3>
<table class="table table-striped table-hover table-sm">
    <thead>
    <tr>
        <th>User</th>
        {% for permission in availablePermissions %}
            <th>{{ ('global.permission.' ~ permission)|trans }}{% if permission == 'OWNER' %} *{% endif %}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            {{ utils.permissionLine(availablePermissions, list, user) }}
        </tr>
    {% endfor %}
    </tbody>
</table>
