{% extends 'base_admin.html.twig' %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">(admin)</a></li>
            <li class="breadcrumb-item active">Users</li>
        </ol>
        {%- include 'default/flash_messages.html.twig' -%}

        <h1>Users management</h1>

        {% if users is not empty %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>User name</th>
                <th>E-mail</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{ path('admin_user_edit', { 'id': user.id }) }}" title="Edit user"
                           aria-label="Edit user">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        </a>
                        <button type="button" class="btn btn-primary btn-sm js-user-delete" data-userid="{{ user.id }}" title="Delete user"
                           aria-label="Delete user">
                            <i class="fas fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p><i>There are no users available, you should create one</i></p>
        {% endif %}
        <p>
            <a class="btn btn-primary" href="{{ path('admin_user_create') }}" title="New user">New user</a>
        </p>

        {% include 'admin/user_confirm_modals.html.twig' %}

        <script type="text/javascript">
            var deleteUserUrl = '{{ path('admin_user_delete', { id: 99999999999999 }) }}';
            $(document).ready(function () {
                $('.js-user-delete').click(function () {
                    var currentData = $(this).data();
                    $('#formUserDelete').attr('action', deleteUserUrl.replace('99999999999999', currentData.userid));
                    $('#deleteUserId').val(currentData.userid);
                    $('#modal-confirm-user-delete').modal();
                });
            });
        </script>
    </div>
{% endblock %}
