<h3>{{ list.name }}</h3>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>User</th>
        {% for permission in availablePermissions %}
            <th>{{ permission }}{% if permission == 'OWNER' %} *{% endif %}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            {% for permission in availablePermissions %}
                <td>
                    <span {% if permission != 'OWNER' %}style="cursor: pointer"{% endif %} class="js-permission-check {% if permission == 'OWNER' %}disabled {% endif %}glyphicon {% if is_user_granted(permission, list, user ) %}text-success glyphicon-ok{% else %}text-danger glyphicon-remove{% endif %}" data-list="{{ list.id }}" data-role="{{ permission }}" data-user="{{ user.id }}">&nbsp;</span>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
