{% extends 'base.html.twig' %}
{%  block site_name %}{{ parent() }} Admin{% endblock %}

{% block javascripts_head %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}

{% block navbar %}
    <li class="nav-item"><a class="nav-link" href="{{ path('admin_lists') }}">Lists</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ path('admin_users') }}">Users</a></li>
{% endblock %}
