<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site_name }} - {% block title %}Wishlist management{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        {% block javascripts_head %}{% endblock %}
    </head>
    <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('homepage') }}">{{ site_name }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    {% block navbar %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'global.navbar.lists'|trans }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {{ render(controller('BestWishes\\Controller\\ListController::index')) }}
                            </ul>
                        </li>
                        {% block navbar_extra %}{% endblock %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('user_home') }}">{{ 'global.navbar.options'|trans }}</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>
                <span class="navbar-text">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {{ 'global.navbar.text.logged'|trans({ '%username%': app.user.userIdentifier, '%logoutUrl%': path('app_logout') })|raw }}
                        {% if is_granted('ROLE_ADMIN') %}&nbsp;<a href="{{ path('admin_lists') }}">{{  'global.navbar.admin_access'|trans }}</a>{% endif %}
                    {% else %}
                        <i class="far fa-user" aria-hidden="true"></i>&nbsp;{{ 'global.navbar.text.guest'|trans({ '%loginUrl%': path('app_login') })|raw }}
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>
        {% block content %}
        {% endblock %}
        {% block footer %}
            <!--
            Powered by BestWishes v{{ constant('\\BestWishes\\AppVersion::VERSION') }}
            -->
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {% block javascripts_footer %}{% endblock %}
    </body>
</html>
