{% extends 'base.html.twig' %}

{% block title %}Gift - {{ gift.name }}{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('list_show', { id: gift.category.list.id }) }}">{{ gift.category.list.name }}</a></li>
            <li><a href="{{ path('category_show', { id: gift.category.id }) }}">{{ gift.category.name }}</a></li>
            <li class="active">{{ gift.name }}</li>
        </ol>
        {%- include '@App/default/flash_messages.html.twig' -%}
        <h1>{{ gift.name }}</h1>
        {% if gift.addedDate is not empty %}<p>Added on {{ gift.addedDate|date('d/m/Y') }}</p>{% endif %}
        {% if gift.moreDetailUrl is not empty %}<p><a href="{{ gift.moreDetailUrl }}" target="_blank">More details</a></p>{% endif %}
        {% if gift.moreDetail is not empty %}<p>{{ gift.moreDetail }}</p>{% endif %}
        {% if gift.bought %}<p>Bought on {{ gift.purchaseDate|date('d/m/Y') }}</p>{% endif %}

        <div class="hidden-xs">
        {% include '@App/gift/show_actions.html.twig' with {gift: gift} only %}
        </div>
    </div>

    {% include '@App/gift/confirm_modals.html.twig' with {deleteForm: deleteForm, markReceivedForm: markReceivedForm} only %}
{% endblock %}


{% block footer %}
<nav class="navbar navbar-default navbar-fixed-bottom visible-xs-block">
    {% include '@App/gift/show_actions_footer.html.twig' with {gift: gift} only %}
</nav>
{% endblock %}

{% block javascripts_footer %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.js-gift-delete').click(function () {
                $('#modal-confirm-delete').modal();
            });

            $('.js-gift-mark-bought').click(function () {
                alert('Not yet ready');
            });

            $('.js-gift-mark-received').click(function () {
                $('#modal-confirm-mark-received').modal();
            });
        });
    </script>
{% endblock %}
