{% extends 'base.html.twig' %}

{% block javascripts_head %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}

{% block title %}{{ 'user.manage_alerts.title'|trans }}{% endblock %}

{% macro permissionLine(availableAlerts, list, user ) %}
    {% for alert in availableAlerts %}
        <td>
            <span style="cursor: pointer" class="js-alert-check glyphicon {% if is_user_granted(alert, list, user ) %}text-success glyphicon-ok{% else %}text-danger glyphicon-remove{% endif %}" data-list="{{ list.id }}" data-alert="{{ alert }}">&nbsp;</span>
        </td>
    {% endfor %}
{% endmacro %}

{% import _self as utils %}

{% block content %}
<div class="container">

    <ol class="breadcrumb">
        <li><a href="{{ path('user_home') }}">{{ 'global.navbar.options'|trans }}</a></li>
        <li class="active">{{ 'user.manage_alerts.title'|trans }}</li>
    </ol>

    <h1>{{ 'user.manage_alerts.title'|trans }}</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>List</th>
            {% for alert in availableAlerts %}
                <th>{{ ('global.permission.' ~ alert)|trans }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for list in lists %}
            <tr>
                <td>{{ list.name }}</td>
                {{ utils.permissionLine(availableAlerts, list, user) }}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.js-alert-check:not(.disabled)').click(function(evt) {
                evt.preventDefault();
                var elem = $(this);
                var currData = $(this).data();
                var currUrl = Routing.generate('user_update_list_alert', { id: currData.list });
                $.ajax({
                    url: currUrl,
                    method: 'POST',
                    data: {
                        alert: currData.alert
                    },
                    dataType: 'json',
                    error: function(jqXHR, textStatus, errorThrown) {

                    },
                    success: function(data, textStatus, jqXHR) {
                        elem.toggleClass('text-success glyphicon-ok').toggleClass('text-danger glyphicon-remove');
                    }
                });
            })
        })
    </script>
</div>
{% endblock %}
