{% extends 'base_pdf.html.twig' %}

{% block title %}{{ 'gift_list.title'|trans({ '%listName%': list.name }) }}{% endblock %}

{% block content %}
    <div class="container pdf">
        <h1 class="text-center">{{ list.name }}</h1>

        {% if nextEventData %}
            {%- include 'list/event_info.html.twig' with { nextEventData: nextEventData } only -%}
        {% endif %}

        {% if list.categories is not empty %}
            {% for category in list.categories %}
                {% if category.gifts is not empty %}
                <h3 class="pdf">{{ category.name }}</h3>
                <div class="list-group">
                    {% for gift in category.gifts %}
                        <a href="{{ path('gift_show', { id: gift.id }) }}" class="list-group-item list-group-item-action d-flex">
                            <div>
                                {{ gift.name }}
                                {% if gift.bought and not is_granted('OWNER', gift.category.list) and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <i class="fas fa-gift fa-lg" style="color: #FA2864"></i>&nbsp;
                                {% endif %}
                                {% if gift.moreDetail is not empty %}<p>{{ gift.moreDetail }}</p>{% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p><em>{% if is_multi_granted(['OWNER', 'EDIT'], list) %}{{ 'gift_list.no_category.logged_can_edit'|trans|raw }}{% else %}{{ 'gift_list.no_category.guest'|trans }}{% endif %}</em></p>
        {% endif %}
    </div>
{% endblock %}

