{% extends 'base.html.twig' %}

{% block title %}{{ 'user.change_password.title'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        {%- include 'default/flash_messages.html.twig' -%}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('user_home') }}">{{ 'global.navbar.options'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'user.change_password.title'|trans }}</li>
        </ol>

        <h1>{{ 'user.change_password.title'|trans }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div>
            <button class="btn btn-primary">{{ 'change_password.submit'|trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}