{% extends 'base.html.twig' %}

{% block title %}{{ 'global.navbar.options'|trans }}{% endblock %}

{% block content %}
<div class="container">
    {%- include 'default/flash_messages.html.twig' -%}
    <h1>{{ 'global.navbar.options'|trans }}</h1>
    <p><a href="{{ path('user_profile_change_password') }}">{{ 'user.change_password.title'|trans }}</a></p>
    <p><a href="{{ path('user_manage_alerts') }}">{{ 'user.manage_alerts.title'|trans }}</a></p>

</div>
{% endblock %}
