{% extends 'base.html.twig' %}

{% block javascripts_head %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}

{% block title %}{{ 'user.manage_alerts.title'|trans }}{% endblock %}

{% macro permissionLine(availableAlerts, list) %}
    {% for alert in availableAlerts %}
        <td>
            <span style="cursor: pointer" class="js-alert-check fas {% if is_granted(alert, list) %}text-success fa-check{% else %}text-danger fa-times{% endif %}" data-list="{{ list.id }}" data-alert="{{ alert }}">&nbsp;</span>
        </td>
    {% endfor %}
{% endmacro %}

{% import _self as utils %}

{% block content %}
<div class="container">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('user_home') }}">{{ 'global.navbar.options'|trans }}</a></li>
        <li class="breadcrumb-item active">{{ 'user.manage_alerts.title'|trans }}</li>
    </ol>

    <h1>{{ 'user.manage_alerts.title'|trans }}</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>{{ 'user.manage_alerts.list'|trans }}</th>
            {% for alert in availableAlerts %}
                <th>{{ ('global.permission.' ~ alert)|trans }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for list in lists %}
            <tr>
                <td>{{ list.name }}</td>
                {{ utils.permissionLine(availableAlerts, list, user) }}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts_footer %}
    {{ encore_entry_script_tags('manage_alerts') }}
{% endblock %}
